In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [19]:
import pandas as pd
import numpy as np
from itertools import permutations
data = open('/content/drive/MyDrive/ML_PAnum/NB et datas/txt_exo_codeontime_defiPA.txt')
a = 987654321
liste = [line for line in data]
nombres = [int(liste[i][:-1]) for i in range(len(liste))]
index = [i for i in range(len(nombres))]
d = {'index': [i for i in index], 'nombres': nombres,
     'mod2': [nombres[i]%2 for i in index],
'mod3': [nombres[i]%3 for i in index], 'mod17': [nombres[i]%17 for i in index],
'mod379721': [nombres[i]%379721 for i in index]}
df = pd.DataFrame(data=d)
df

       index    nombres  mod2  mod3  mod17  mod379721
0          0  195199677     1     0     16      23083
1          1  479452449     1     0      4     244547
2          2  680010572     0     2     15     309982
3          3  690190648     0     1     15     237591
4          4  135995633     1     2      2      55515
...      ...        ...   ...   ...    ...        ...
24996  24996  644611857     1     0      9     225320
24997  24997  353858588     0     2      1     338337
24998  24998  609827535     1     0     16     375330
24999  24999  455313521     1     2      5      28042
25000  25000  326798617     1     1      1     238557

[25001 rows x 6 columns]

In [20]:
df[df['mod2'] == 1]

       index    nombres  mod2  mod3  mod17  mod379721
0          0  195199677     1     0     16      23083
1          1  479452449     1     0      4     244547
4          4  135995633     1     2      2      55515
6          6  325919853     1     0      1     119235
10        10  675440475     1     0     11     296537
...      ...        ...   ...   ...    ...        ...
24995  24995  670868455     1     1      5     281169
24996  24996  644611857     1     0      9     225320
24998  24998  609827535     1     0     16     375330
24999  24999  455313521     1     2      5      28042
25000  25000  326798617     1     1      1     238557

[12479 rows x 6 columns]

In [22]:
df[df['mod2'] == 0]

       index    nombres  mod2  mod3  mod17  mod379721
2          2  680010572     0     2     15     309982
3          3  690190648     0     1     15     237591
5          5  151235594     0     2      7     106636
7          7  421964854     0     1      0      94823
8          8  508614414     0     0     16     167995
...      ...        ...   ...   ...    ...        ...
24987  24987  568877350     0     1      9      55292
24989  24989  255720880     0     1     12     168647
24991  24991  182723362     0     1      1      77561
24992  24992      79270     0     1     16      79270
24997  24997  353858588     0     2      1     338337

[12522 rows x 6 columns]

In [3]:
£# nombre premier utilisé comme repere: 17 
# les restes possibles pour une division par 17: 0,1,...,16 
n = 17
from itertools import combinations
triples = list(combinations(range(n),3))
somme_triples = [sum(triples[i]) for i in range(len(triples))]
somme_triples_mod17 = [(i,somme_triples[i]%17) for i in range(len(triples))]
len(somme_triples_mod17)

680

In [5]:
# Quels triples ont la somme = 0 module 17 ? combien de triples
l=[]
for i in somme_triples_mod17:
    if i[1]==0:
        l.append(i[0])
print(l, len(l))

[14, 27, 39, 50, 60, 69, 77, 84, 131, 143, 154, 164, 173, 181, 233, 244, 254, 263, 271, 321, 331, 340, 393, 396, 405, 458, 511, 512, 553, 555, 585, 588, 590, 608, 612, 615, 628, 632, 635, 646] 40

In [13]:
# Restriction du dataset aux cibles
triples_cibles = [triples[i] for i in l]
################ changer le index de a ######
a = triples_cibles[8]
#############################################
data = df[(df['mod17'] == a[0]) | (df['mod17'] == a[1]) | (df['mod17'] == a[2])]

In [14]:
data

       index    nombres  mod3  mod17  mod379721
4          4  135995633     2      2      55515
6          6  325919853     0      1     119235
14        14  199693748     2      1     340223
17        17  394858815     0      2     328696
18        18  649314559     1      1     371370
...      ...        ...   ...    ...        ...
24968  24968  342854250     0      1     345908
24991  24991  182723362     1      1      77561
24993  24993  477057333     0      1     127757
24997  24997  353858588     2      1     338337
25000  25000  326798617     1      1     238557

[4481 rows x 5 columns]

In [15]:
nombres_test = np.array(data['nombres'])
len(nombres_test)

4481

In [16]:
# ça prends environs 50seg pour exécuter
liste_comb = list(combinations([i for i in range(len(nombres_test))], 2))
demi_cles = [nombres_test[liste_comb[i][0]]+nombres_test[liste_comb[i][1]] for i in range(len(liste_comb))]
diff_demi_cles = [987654321 - i for i in demi_cles]
intersection = [x for x in diff_demi_cles if x in nombres_test]
intersection

[394473182, 55989705, 537191434]

In [17]:
produit = 394473182 * 55989705 * 537191434
mdp = produit % 987654321
mdp

975324300